.login-form {
  margin-top: 10%;
  height: auto;
}

.password-text {
  font-size: 12px;
  color: red;
  margin-top: 0.25rem;
}

.posts {
  overflow-y: auto;
  height: calc(100vh - 110px);
}

.delete-posts {
  overflow-y: auto;
  height: calc(100vh - 140px);
}

.posts a {
  text-decoration: none;
}

.post-title {
  font-size: 1.25rem;
  margin-bottom: 5px;
  color: #007bff;
}

.post-content {
  font-size: 0.9rem;
  color: black;
  margin-bottom: 5px;
}

.footer {
  font-size: 80%;
  color: #6c757d;
}

.comments {
  overflow-y: auto;
  height: calc(100vh - 250px);
}

.comment {
  border-radius: 10px;
}

.comment-content {
  font-size: 0.9rem;
  color: black;
  margin-bottom: 0px;
}

.add-comment {
  overflow-y: auto;
  height: calc(100vh - 420px);
}

.text-area {
  resize: none;
  border-radius: 10px;
}

.comment-border-color {
  border-color: #dc3545;
}

.page-not-found {
  color: #888888;
}

.page-not-found .code{
  font-size: 250px;
}

.page-not-found .text{
  font-size: 50px;
}

.required-field {
  color: red;
}

.active-nav {
  font-weight: bold;
  text-decoration: underline;
}
